.App {
   width: 100vw;
   display: flex;
   align-items: center;
   flex-direction: column;
   margin-top: 1.2rem;
   padding: 0.6rem;
}

.App h1 {
   margin-bottom: 1.8rem;
}

.container {
   display: flex;
   align-items: center;
   flex-direction: column;
   width: 40rem;
   background-color: #fff;
   border: 1px solid #ccc;
   border-radius: 0.3rem;
   padding: 0.6rem;
}

.todo {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 20rem;
   margin: 10px 0;
}

.todoText {
   cursor: pointer;
   font-weight: bold;
}

.completed {
   text-decoration: line-through;
   color: #ccc;
}

input {
   border: 1px solid #ccc;
   border-radius: 5px;
   outline: none;
   padding: 5px 3px;
   width: 200px;
}

input:focus {
   border: 2px solid blueviolet;
}

.formControl {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 20rem;
   margin-bottom: 20px;
}

.btn {
   color: #6d28d9;
   background-color: #fff;
   border: 1px solid #6d28d9;
   border-radius: 5px;
   outline: none;
   padding: 5px 10px;
   cursor: pointer;
}

.remove {
   color: rgb(236, 68, 68);
   border: 1px solid rgb(236, 68, 68);
   margin-left: 10px;
}

.add {
   color: #fff;
   background-color: #6d28d9;
}

.update {
   background-color: #9f75e2;
   color: #fff;
}

header {
   display: flex;
   align-items: center;
   margin-bottom: 30px;
}

header span {
   width: 20px;
   height: 20px;
   margin-right: 10px;
   display: inline-block;
   font-size: 14px;
   color: #6d28d9;
   background-color: #d0c7f7;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.noneTodo {
   margin-bottom: 30px;
}
