.App {
   width: 100vw;
   display: flex;
   align-items: center;
   flex-direction: column;
   margin-top: 1.2rem;
   padding: 0.6rem;
}

.App h1 {
   margin-bottom: 1.8rem;
}

.container {
   display: flex;
   align-items: center;
   flex-direction: column;
   width: 40rem;
   background-color: #fff;
   border: 1px solid #ccc;
   border-radius: 0.3rem;
   padding: 0.6rem;
}

.todo {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 20rem;
   margin: 10px 0;
}

.completed {
   text-decoration: line-through;
   color: #ccc;
}

input {
   border: 1px solid #ccc;
   border-radius: 5px;
   outline: none;
   padding: 5px 3px;
}

input:focus {
   border: 1px solid blueviolet;
}
